.header{
    margin-bottom: 2px;

    h1{
        font-size: 46px;
        text-align: center;
        color:#333;

        @media(max-width: 768px){
            font-size: 32px;
            margin-bottom: 12px;
        }
    }
}