.intro{
    &__img{
        mask-image: linear-gradient(to bottom, #000 50%, rgba(0,0,0,0.01) 92%);
        margin-bottom: 50px;
        border-radius: 5px 5px 0 0;
    }

    &__momentos{
        &__menu{
            &__link{
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &:nth-child(4){
                        margin-bottom: 0px;
                    }

                .btn{
                    display: block;
                    max-width: 100%;
                    height: 80px;
                    background-color: #84c;
                    color: white;
                    border: 2px solid #89f;
                    border-radius: 5px;
                    text-align: center;
                    align-content: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 24px;

                    &:hover{
                        background-color: white;
                        color: #84c;
                        transition: .3s ease;
                    }
                }
            }
        }
    }
}