@use "reset";
@use "variaveis";
@use "header";
@use "intro";
@use "sinopse";
@use "galeria";
@use "trailer";
@use "footer";

@font-face {
    font-family: Cabin;
    src: url(../../assets/fonts/Cabin/static/Cabin-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inconsolata;
    src: url(../../assets/fonts/Inconsolata/static/Inconsolata-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Nerko_One;
    src: url(../../assets/fonts/Nerko_One/NerkoOne-Regular.ttf);
    font-weight: 400;
}

body {
    max-width: 1024px;
    width: 100%;
    background-color: variaveis.$corFundoBody;

    img {
    width: 100%;
    }
}

.voltar__topo{
    color: rgba(0,0,0,.7);
    
    h4{
        margin-top: 22px;
        text-align: right;
        margin-right: 230px;
    }

    &:hover{
        color: black;
    }
}

@media(max-width: 768px){
    body{
        max-width: 90%;
    }
}
